@*@model ProyectoFinal.Models.datosEstudiantes*@

@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">

    <div class="row">

        <div class="col-lg-offset-3">
            <img src="~/imagenes/25c2fb5693c31f34883acf96f1c9aa95.png" class="img-responsive" />
        </div>

    </div>

    <h3>Mauricio Mojica 2017-5288</h3>

   



</div>


